{{> menu active="about"}}

<section class="section">
  <div class="block has-text-centered">
    <h1 class="title">
      Playtime: Organise and manage your music
    </h1>
  </div>
  <div class="block has-text-centered is-size-1">
    <span class="icon is-size-1">
      <i class="fas fa-music has-text-danger"></i>
    </span>
    &nbsp;
    <span class="icon is-size-2">
      <i class="fas fa-plus has-text-primary"></i>
    </span>
    &nbsp;
    <span class="icon is-size-1">
      <i class="fas fa-headphones has-text-warning"></i>
    </span>
  </div>
</section>